.detailersv {
    padding: 120px 0;
    background: #0e1317;
    &__content {
        margin: 0 auto;
        max-width: 792px;
        // &-textbox {
        //     .title {
        //         margin-bottom: 24px;
        //     }
        //     .desc {
        //         @include overtext(5);
        //     }
        //     .imgsv {
        //         margin: 48px 0 84px;
        //         position: relative;
        //         padding-bottom: 65%;
        //         overflow: hidden;
        //         img {
        //             @include midimg(100%);
        //         }
        //     }
        //     .--mg {
        //         margin-top: 40px;
        //         &.--mgbt {
        //             margin-bottom: 80px;
        //         }
        //     }
        // }
        &-box {
            padding: 135px 0 120px;
        }
        // &-minibox {
        //     .tags {
        //         display: flex;
        //         justify-content: space-between;
        //         border-bottom: 1px solid $white-cl;
        //         padding-bottom: 43px;
        //         .tagitem {
        //             display: flex;
        //             .desc {
        //                 font-size: 14px;
        //                 line-height: 30px;
        //                 padding: 4px 8px;
        //                 background: #222d3b;
        //                 &:not(:last-child) {
        //                     margin-right: 4px;
        //                 }
        //                 &:hover {
        //                     transition: $t;
        //                     background: $yellow-cl;
        //                 }
        //             }
        //         }
        //         img {
        //             @include size(32px);
        //         }
        //     }
        //     .box {
        //         padding: 43px 0 70px;
        //         display: flex;
        //         width: 100%;
        //         justify-content: space-between;
        //         .item {
        //             display: flex;
        //             &.-rv {
        //                 flex-direction: row-reverse;
        //                 .content {
        //                     margin-right: 16px;
        //                     margin-left: inherit;
        //                 }
        //             }
        //             .content {
        //                 margin-left: 16px;
        //                 .title {
        //                     font-size: 16px;
        //                     line-height: 24px;
        //                 }
        //                 .text {
        //                     @include text(14px, "ci", 24px, #909090);
        //                 }
        //             }
        //             img {
        //                 @include size(76px);
        //             }
        //         }
        //     }
        // }
        // &-dfr {
        //     .box {
        //         padding-top: 38px;
        //         display: grid;
        //         grid-template-columns: repeat(2, 1fr);
        //         column-gap: 24px;
        //         .item {
        //             text-align: center;
        //             .imgblog {
        //                 position: relative;
        //                 overflow: hidden;
        //                 padding-bottom: 415px;
        //                 cursor: pointer;
        //                 @include scaleimg;
        //             }
        //             .title {
        //                 margin-top: 15px;
        //                 display: block;
        //                 &:hover {
        //                     color: $yellow-cl;
        //                     transition: $t;
        //                 }
        //             }
        //         }
        //     }
        // }
    }
    @include sm {
        padding: 80px 0;
        &__content {
            // &-textbox {
            //     .imgsv {
            //         margin: 40px 0 74px;
            //         padding-bottom: 400px;
            //     }
            //     .--mg {
            //         margin-top: 30px;
            //     }
            // }
            &-box {
                padding: 80px 0 60px;
            }
            // &-minibox {
            //     .tags {
            //         padding-bottom: 30px;
            //     }
            //     .box {
            //         padding: 30px 0 40px;
            //     }
            // }
            // &-dfr {
            //     .box {
            //         padding-top: 38px;
            //         column-gap: 20px;
            //         .item {
            //             .imgblog {
            //                 padding-bottom: 330px;
            //             }
            //         }
            //     }
            // }
        }
    }
    @include xs {
        padding: 50px 0;
        &__content {
            // &-textbox {
            //     .imgsv {
            //         margin: 30px 0 50px;
            //         padding-bottom: 300px;
            //     }
            //     .--mg {
            //         margin-top: 20px;
            //     }
            // }
            &-box {
                padding: 50px 0 30px;
            }
            // &-minibox {
            //     .tags {
            //         padding-bottom: 30px;
            //     }
            //     .box {
            //         padding: 30px 0 40px;
            //     }
            // }
            // &-dfr {
            //     .box {
            //         .item {
            //             .imgblog {
            //                 padding-bottom: 250px;
            //             }
            //         }
            //     }
            // }
        }
    }
    // @media (max-width: 530px) {
    //     &__content {
    //         &-dfr {
    //             .box {
    //                 grid-template-columns: 1fr;
    //                 gap: 30px;
    //             }
    //         }
    //     }
    // }
    // @media (max-width: 400px) {
    //     &__content {
    //         &-minibox {
    //             .box {
    //                 flex-direction: column;
    //                 justify-content: initial;
    //                 .item {
    //                     margin-bottom: 20px;
    //                     &.-rv {
    //                         flex-direction: initial;
    //                         .content {
    //                             margin-left: 16px;
    //                         }
    //                     }
    //                 }
    //             }
    //         }
    //     }
    // }
}
