.library {
    background: #0e1317;
    padding: 100px 0 120px;
    &__content {
        &-tabs {
            margin-bottom: 61px;
            width: 100%;
            display: flex;
            justify-content: center;
            position: relative;
            &::after {
                position: absolute;
                content: "";
                @include size(305px, 1px);
                background: $yellow-cl;
                bottom: 0;
                opacity: 0.8;
            }
            .item {
                cursor: pointer;
                position: relative;
                padding: 5px 0;
                &::after {
                    content: "";
                    position: absolute;
                    @include size(100%, 3px);
                    background: $yellow-cl;
                    opacity: 0;
                    bottom: -1px;
                    left: 0;
                }
                &.active {
                    color: $white-cl;
                    &::after {
                        transition: $t $cubic;
                        opacity: 1;
                    }
                }
                &:not(:last-child) {
                    margin-right: 24px;
                }
                @include text(14px, "ol", 30px, #909090);
            }
        }
        &-list {
            .item {
                display: none;
                &.active {
                    display: block;
                }
                .list {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    gap: 24px;
                    .listimg {
                        position: relative;
                        overflow: hidden;
                        cursor: pointer;
                        padding-bottom: 100%;
                        @include scaleimg;
                    }
                }
            }
            .btn {
                text-align: center;
                margin-top: 80px;
            }
        }
    }
    @include sm {
        padding: 70px 0;
        &__content {
            &-list {
                .btn {
                    margin-top: 50px;
                }
            }
        }
    }
    @include xs {
        padding: 50px 0;
        &__content {
            &-tabs {
                margin-bottom: 40px;
                &::after {
                    display: none;
                }
                .item {
                    font-size: 12px;
                    line-height: 20px;
                    &:not(:last-child) {
                        margin-right: 15px;
                    }
                }
            }
            &-list {
                .item {
                    .list {
                        grid-template-columns: repeat(2, 1fr);
                        gap: 15px;
                    }
                }
                .btn {
                    margin-top: 30px;
                }
            }
        }
    }
    @media (max-width: 450px) {
        &__content {
            &-tabs {
                margin-bottom: 30px;
                .item {
                    font-size: 10px;
                    line-height: normal;
                    &:not(:last-child) {
                        margin-right: 10px;
                    }
                }
            }
            &-list {
                .item {
                    .list {
                        grid-template-columns: 1fr;
                    }
                }
            }
        }
    }
}
