.main {
    //sc-slider
    .slider {
        height: 100vh;
        position: relative;
        overflow: hidden;
        &__wrap {
            height: 100%;
            width: 100%;
            .flickity-viewport {
                height: 100% !important;
            }
            &-item {
                // display: none;
                // &.slider-act {
                //     display: block;
                // }
                height: 100vh;
                width: 100vw;
                position: relative;

                .center {
                    @include abs();
                    z-index: 3;
                    text-align: center;

                    .heading {
                        @include style(84px, pb, 84px, $yellow-cl);
                        letter-spacing: 18px;
                        margin-bottom: 50px;
                    }

                    .btnlearnmores {
                        text-decoration: none;
                        @include style(14px, pb, 1, $white-cl);
                        padding: 15px 50px;
                        border: 2px solid $white-cl;
                        letter-spacing: 5px;

                        img {
                            margin-left: 15px;
                        }

                        &:hover {
                            background: $yellow-cl;
                        }
                    }
                }

                .sliderimg {
                    @include img;
                }
            }
        }
        &__content {
            position: absolute;
            bottom: 40px;
            width: 100%;

            .container-fuild {
                display: flex;
                justify-content: space-between;
                width: 100%;
            }

            &-number {
                display: flex;
                align-items: center;
                .number {
                    @include style(42px, pb, 49px, $yellow-cl);
                    display: flex;
                    align-items: center;
                    margin-right: 10px;
                    letter-spacing: 1px;
                    &::before {
                        content: "";
                        @include size(42px, 3px);
                        background: $yellow-cl;
                        display: inline-block;
                        margin-right: 15px;
                    }
                }
                .flickity-page-dots {
                    position: initial;
                }
                ol {
                    display: flex;
                    li {
                        @include size(8px);
                        background: $yellow-cl;
                        margin: 0 4px;
                    }
                }
            }

            &-item {
                display: flex;
                flex-direction: column;
                position: absolute;
                left: 50%;
                bottom: 0px;
                transform: translateX(-50%);
                @include keyframes(topdown) {
                    0% {
                        @include transform(translateY(0px));
                        opacity: 0;
                        @include transition(0.3s);
                    }
                    100% {
                        @include transform(translateY(25px));
                        opacity: 1;
                        @include transition(0.3s);
                    }
                }
                .mouseic {
                    margin-bottom: 10px;
                    @include img;
                }

                .arrowic {
                    width: fit-content;
                    margin-left: 3px;
                    @include animation(topdown 1s ease forwards infinite);
                }
            }

            &-control {
                display: flex;
                .arrow {
                    @include flex(center);
                    @include size(65px, 40px);
                    border: 1px solid $white-cl;
                    &:hover {
                        background: $yellow-cl;
                    }
                }

                .--next {
                    img {
                        transform: rotate(180deg);
                    }
                    margin-left: -1px;
                }
            }
        }
        //tablet
        @include sm {
            height: 500px;
            &__wrap {
                &-item {
                    height: 100%;
                    width: initial;
                    .center {
                        .heading {
                            font-size: 60px;
                            letter-spacing: 4px;
                            margin-bottom: 20px;
                            line-height: 1;
                        }
                        .btnlearnmores {
                            padding: 10px 40px;
                            letter-spacing: 1px;
                            font-size: 13px;
                            border: 1px solid $white-cl;
                        }
                    }
                }
            }
            &__content {
                bottom: 20px;
                &-number {
                    .number {
                        font-size: 35px;
                        &::before {
                            @include size(30px, 2px);
                            margin-right: 10px;
                        }
                    }
                    ol {
                        li {
                            @include size(6px);
                        }
                    }
                }
                &-item {
                    .mouseic {
                        margin-bottom: initial;
                        height: auto;
                    }
                }

                &-control {
                    .arrow {
                        align-self: center;
                        @include size(45px, 30px);
                    }
                }
            }
        }
        //mobile
        @include xs {
            height: 400px;
            &__wrap {
                &-item {
                    .center {
                        .heading {
                            font-size: 50px;
                            letter-spacing: 4px;
                            margin-bottom: 20px;
                            line-height: 1;
                        }
                        .btnlearnmores {
                            padding: 8px 20px;
                            letter-spacing: 1px;
                            font-size: 12px;
                            border: 1px solid $white-cl;

                            img {
                                margin-left: 15px;
                            }

                            &:hover {
                                background: $yellow-cl;
                            }
                        }
                    }
                }
            }
            &__content {
                bottom: 10px;
                &-number {
                    .number {
                        font-size: 30px;
                        &::before {
                            @include size(20px, 2px);
                            margin-right: 5px;
                        }
                    }
                    ol {
                        li {
                            @include size(5px);
                        }
                    }
                }
                &-item {
                    display: none;
                }
                &-control {
                    display: none;
                }
            }
        }
    }

    //sc-products
    .products {
        padding: 90px 0 60px;
        &__row {
            display: grid;
            grid-template-columns: 1fr 520px;
            grid-template-rows: 335px;
            align-items: center;
            &-img {
                position: relative;
                img {
                    @include midimg(100%);
                }
            }
            &:last-child {
                padding-top: 100px;
                grid-template-columns: 520px 1fr;
                .products__row-textbox {
                    grid-column: 2/3;
                    grid-row: 1/2;
                }
                .products__row-img {
                    grid-column: 1/2;
                    grid-row: 1/2;
                }
            }
        }
        //tablet
        @include sm {
            padding: 70px 0;
            &__row {
                grid-template-columns: 1fr 370px;
                grid-template-rows: 240px;
                align-items: inherit;
                &:last-child {
                    padding-top: 70px;
                    grid-template-columns: 370px 1fr;
                }
            }
        }
        //mobile
        @include xs {
            padding: 50px 0;
            &__row {
                grid-template-columns: 1fr;
                grid-template-rows: 200px 250px;
                align-items: initial;
                &-img {
                    overflow: hidden;
                }
                &:last-child {
                    padding-top: 50px;
                    grid-template-columns: initial;
                    .products__row-textbox {
                        grid-column: initial;
                        grid-row: initial;
                    }
                    .products__row-img {
                        grid-column: initial;
                        grid-row: initial;
                    }
                }
            }
        }
    }

    //sc-video
    .quality {
        &__video {
            margin: 35px 0 85px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            &-item {
                margin: 0 auto;
                text-align: center;
                .circle {
                    cursor: pointer;
                    margin-bottom: 40px;
                    @include size(210px);
                    position: relative;
                    .border {
                        @include abs;
                        z-index: 1;
                    }

                    .videoimg {
                        @include midimg(100%);
                        padding: 10px;
                        border: 2px solid #e9e9e9;
                        border-radius: 50%;
                    }
                }

                .desc {
                    position: relative;
                    text-decoration: none;
                    color: $black-cl;
                    margin-left: 5px;
                    &::before {
                        content: "";
                        @include size(20px, 3px);
                        background: $yellow-cl;
                        position: absolute;
                        left: 50%;
                        top: -20px;
                        transform: translateX(-50%);
                    }

                    &:hover {
                        color: $yellow-cl;
                    }
                }
            }
        }
        //mobile
        @include xs {
            &__video {
                margin: 15px 0 50px;
                grid-template-columns: 1fr;
                row-gap: 20px;
            }
        }
    }

    //sc-design
    .design {
        background: url(../img/sectiondesign.jpg) no-repeat center;
        background-size: cover;
        background-attachment: fixed;
        position: relative;
        height: 640px;
        &__textbox {
            padding: 170px 0;
            max-width: 550px;
            .heading {
                width: 80%;
                @include style(40px, pb, 50px, $yellow-cl);
                margin-bottom: 37px;
                letter-spacing: 1px;
            }

            .desc {
                color: $white-cl;
                margin-bottom: 55px;
            }

            .btnvideo {
                @include style(12px, pb, normal, $white-cl);
                letter-spacing: 2px;
                text-decoration: none;
                padding: 15px 60px 15px 80px;
                border: 1px solid $white-cl;
                position: relative;
                &:hover {
                    background: $yellow-cl;
                }
                img {
                    position: absolute;
                    left: 55px;
                    top: 50%;
                    transform: translateY(-50%);
                    @include size(15px);
                }
            }
        }
        //tablet
        @include sm {
            height: auto;
            &__textbox {
                padding: 70px 0 85px;
                .heading {
                    margin-bottom: 30px;
                }

                .desc {
                    margin-bottom: 50px;
                }
            }
        }
        //mobile
        @include xs {
            height: auto;
            background-attachment: scroll;
            &__textbox {
                padding: 50px 0 65px;
                .heading {
                    width: 100%;
                    margin-bottom: 15px;
                    @include heading-mb;
                    letter-spacing: 2px;
                }

                .desc {
                    margin-bottom: 30px;
                    @include body-mb;
                }
            }
            .btnvideo {
                letter-spacing: 1px;
                padding: 10px 40px 10px 60px;
                img {
                    left: 40px;
                }
            }
        }
    }

    //sc-aboutus
    .about {
        &__col {
            padding: 90px 0 75px;
            display: grid;
            grid-template-columns: 520px 1fr;
            grid-template-rows: 320px;
            align-items: center;
            &-img {
                position: relative;
                img {
                    @include midimg(100%);
                }
            }
        }
        //tablet
        @include sm {
            &__col {
                padding: 70px 0 60px;
                grid-template-columns: 400px 1fr;
            }
        }
        //mobile
        @include xs {
            &__col {
                padding: 50px 0 35px;
                grid-template-columns: 1fr;
                grid-template-rows: 320px 220px;
            }
        }
    }

    //sc-gallery
    .gallery {
        background: $black-cl;
        padding: 90px 0;

        &__textbox {
            width: 440px;

            .heading {
                color: $white-cl;
                margin-bottom: 20px;
            }

            .desc {
                color: $white-cl;
                margin-bottom: 50px;
            }
        }

        &__list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 220px);
            gap: 12px;

            &-item {
                cursor: pointer;
                position: relative;
                overflow: hidden;
                &:nth-child(2) {
                    grid-column: 2/3;
                    grid-row: 1/3;
                }
                img {
                    @include midimg(100%);
                }
            }
        }
        //tablet
        @include sm {
            padding: 70px 0;
            &__list {
                grid-template-rows: repeat(2, 140px);
                gap: 7px;
            }
        }
        // mobile
        @include xs {
            &__textbox {
                width: 100%;
                .heading {
                    margin-bottom: 10px;
                    @include heading-mb;
                    letter-spacing: 2px;
                }
                .desc {
                    margin-bottom: 30px;
                    letter-spacing: 0.5px;
                    @include body-mb;
                }
            }
            padding: 50px 0;
            &__list {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(3, 150px);
                gap: 8px;
                &-item {
                    &:nth-child(3) {
                        grid-column: 1/2;
                        grid-row: 3/4;
                    }
                }
            }
        }
    }

    //sc-news
    .news {
        padding: 82px 0 87px;

        &__textbox {
            .heading {
                margin-bottom: 20px;
            }

            .desc {
                margin-bottom: 50px;
                width: 440px;
                color: $black-cl;
            }
        }
        &__tabs {
            display: none;
            width: 100%;
            cursor: pointer;
            &-item {
                padding: 10px;
                background: #7d7d7d;
                margin-right: 10px;
                &.active {
                    background: $yellow-cl;
                    color: $white-cl;
                }
            }
        }
        &__list {
            display: none;
            &.active {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                column-gap: 25px;
            }
            &-item {
                .img {
                    flex: 1;
                    height: 0;
                    padding-bottom: 200px;
                    position: relative;
                    overflow: hidden;
                    img {
                        @include midimg(100%);
                    }
                }

                .content {
                    position: relative;
                    &::after {
                        position: absolute;
                        content: "";
                        @include size(80px, 3px);
                        background: $yellow-cl;
                        opacity: 0.8;
                        top: 0;
                        left: 0;
                        margin: 22px 0 20px;
                    }
                    .heading {
                        height: 45px;
                        overflow: hidden;
                        margin: 40px 0 10px;
                        text-decoration: none;
                        letter-spacing: normal;
                        @include style(18px, pb, 24px);
                        @include hidentext(2);
                        &:hover {
                            color: #696969;
                        }
                    }

                    .desc {
                        width: 100%;
                        font-size: 15px;
                        @include hidentext(3);
                    }
                }
            }
        }
        @include sm {
            &__textbox {
                .desc {
                    margin-bottom: 30px;
                }
            }
            &__tabs {
                display: flex;
                margin-bottom: 20px;
            }
            &__list {
                display: none;
                &.active {
                    display: grid;
                }
            }
        }
        //mobile
        @include xs {
            padding: 50px 0;
            &__textbox {
                .heading {
                    margin-bottom: 15px;
                    @include heading-mb;
                    letter-spacing: 2px;
                }

                .desc {
                    margin-bottom: 30px;
                    @include body-mb;
                    letter-spacing: 0.5px;
                    width: 100%;
                }
            }
            &__list {
                &.active {
                    grid-template-columns: repeat(1, 1fr);
                    column-gap: normal;
                    row-gap: 20px;
                }
                &-item {
                    .img {
                        padding-bottom: 250px;
                    }
                    .content {
                        .heading {
                            height: auto;
                            margin: 40px 0 10px;
                            font-size: 18px;
                            line-height: 24px;
                            @include hidentext(initial);
                        }

                        .desc {
                            @include hidentext(initial);
                            @include body-mb;
                        }
                    }
                }
            }
        }
    }

    //sc gl
    .galleryslider {
        margin-bottom: 50px;
        overflow: hidden;
        img {
            margin-right: 20px;
            height: 400px;
        }
        @include sm {
            img {
                height: 350px;
            }
        }
        @include xs {
            img {
                height: 250px;
            }
        }
    }
}
.modalvideo {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #000000cc;
    display: flex;
    justify-content: center;
    z-index: 3000;
    opacity: 0;
    visibility: hidden;
    @include transition(0.3s);
    &__inner {
        width: 80%;
        height: 80%;
        max-width: 1200px;
        @include mid;
        &-iframe {
            width: 100%;
            height: 0;
            @include midimg(100%);
            border: 5px solid $white-cl;
            iframe {
                position: absolute;
                @include size(100%);
            }
        }
        &-close {
            @include size(30px);
            position: absolute;
            right: -10px;
            top: -10px;
            border-radius: 50%;
            cursor: pointer;
            background: $yellow-cl;
            @include flex(center);
            img {
                width: 14px;
            }
        }
        @include xs {
            width: calc(100% - 20px);
            height: calc(100% - 20px);
        }
    }
    &.active {
        opacity: 1;
        visibility: visible;
    }
}
