.textbox {
    padding-left: 95px;
    padding-right: 60px;
    .heading {
        line-height: 83px;
        position: relative;
        &::before {
            position: absolute;
            content: "";
            @include size(80px, 2px);
            background: #666;
            top: 50%;
            left: -95px;
            transform: translateY(-50%);
            display: inline-block;
        }
    }
    .desc {
        margin-bottom: 25px;
        @include overtext(3);
    }

    &.textbox-right {
        padding-left: 20px;
        padding-right: 95px;
        text-align: right;
        .heading {
            &::before {
                left: initial;
                right: -95px;
            }
        }
    }
    &.--center {
        text-align: center;
        .heading {
            &::before {
                @include size(38px, 3px);
                background: $yellow-cl;
                top: initial;
                left: 50%;
                bottom: 0;
                transform: translateX(-50%);
            }
        }
        .desc {
            max-width: 480px;
            margin-top: 20px;
            color: #636262;
        }
    }
    &.--textbox-ab {
        padding-left: 70px;
        padding-right: initial;
        .heading {
            &::before {
                left: -110px;
            }
        }
    }
    //tablet
    @include sm {
        padding-left: initial;
        padding: 30px 30px 30px 0;
        .heading {
            position: relative;
            line-height: 60px;
            &::before {
                content: initial;
            }
        }
        .desc {
            margin-bottom: 5px;
        }
        &.textbox-right {
            padding-left: 30px;
            padding-right: initial;
            text-align: initial;
        }
        &.--center {
            padding-right: initial;
            .heading {
                &::before {
                    content: "";
                }
            }
            .desc {
                margin-top: 10px;
            }
        }
        &.--textbox-ab {
            padding: initial;
            padding-left: 30px;
            .heading {
                letter-spacing: 1.5px;
            }
        }
    }
    //mobile
    @include xs {
        padding: initial;
        .heading {
            line-height: 50px;
            font-size: 27px;
            letter-spacing: 2px;
            &::before {
                content: initial;
            }
        }
        .desc {
            margin-bottom: 5px;
        }
        &.textbox-right {
            padding-left: initial;
            padding-right: initial;
            text-align: initial;
        }

        &.--center {
            .heading {
                font-size: 27px;
                line-height: 35px;
                &::before {
                    content: initial;
                }
            }
            .desc {
                margin-top: 5;
            }
        }
        &.--textbox-ab {
            padding: initial;
            .heading{
                letter-spacing: 2px;
            }
        }
    }
}
.btnlearnmore {
    text-decoration: none;
    position: relative;
    @include style(14px, pb, $lhdesc);
    letter-spacing: 3px;

    &::after {
        content: "";
        position: absolute;
        @include size(37px, 2.5px);
        bottom: -7px;
        left: 0;
        background: $yellow-cl;
    }

    &:hover {
        color: $yellow-cl;
    }
    //mobile
    @include xs {
        letter-spacing: 1px;
    }
}
