// css navigator (Menu)
.header {
    &__right {
        &-wrapper {
            display: none;
            margin-right: 20px;
            .nav {
                @include size(35px, 30px);
                margin: 10px;
                position: relative;
                cursor: pointer;
                display: inline-block;
                span {
                    background: $white-cl;
                    position: absolute;
                    border-radius: 2px;
                    transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
                    @include size(100%, 4px);
                    transition-duration: 500ms;
                    left: 0px;
                    &:nth-child(1) {
                        top: 0px;
                    }
                    &:nth-child(2) {
                        top: 13px;
                        opacity: 1;
                    }
                    &:nth-child(3) {
                        bottom: 0px;
                    }
                }
                &.open {
                    span {
                        top: 13px;
                        &:nth-child(1) {
                            transform: rotate(45deg);
                        }
                        &:nth-child(2) {
                            opacity: 0;
                        }
                        &:nth-child(3) {
                            transform: rotate(-45deg);
                        }
                    }
                }
            }
        }
    }
    &__hamburger {
        display: none;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background: $black-cl;
        z-index: 100;
        ul {
            @include mid;
            li {
                margin: 25px auto;
                text-align: center;
                a {
                    font-size: 20px;
                    &:hover {
                        color: $yellow-cl;
                        transition: $t;
                    }
                }
            }
        }
        &.active {
            display: block;
        }
    }
    @include sm {
        &__right {
            &-wrapper {
                display: block;
            }
        }
    }
    @include xs {
        &__right {
            &-wrapper {
                .nav {
                    @include size(25px, 20px);
                    span {
                        @include size(100%, 4px);
                        &:nth-child(2) {
                            top: 8px;
                            opacity: 1;
                        }
                    }
                    &.open {
                        span {
                            top: 11px;
                        }
                    }
                }
            }
        }
        &__hamburger {
            ul {
                li {
                    margin: 20px auto;
                }
            }
        }
    }
}
