.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

/* header */
.header {
    background: url(../img/banner1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.header__border {
    border-bottom: #ffffff 1px solid;
}

.header .top {
    display: flex;
    width: 100%;
    padding: 15px;
}

.header .top .logo {
    width: 50%;
    display: flex;
    align-items: center;
}

.header .top .logo i {
    color: #fff;
    font-size: 20px;
}

.header .top .logo a {
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    line-height: 1;
    font-weight: bold;
    margin-left: 10px;
}

.header .top .menu {
    flex: 1;
}

.header .top .menu ul {
    display: flex;
}

.header .top .menu ul li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .top .menu ul li a {
    font-size: 15px;
    color: #adadad;
    padding: 15px;
    text-decoration: none;
    margin-right: 15px;
}

.header .top .menu ul li a:hover {
    border-top: #bbbbbb 1px solid;
    border-bottom: #bbbbbb 1px solid;
}

.header .bottom .heading {
    margin: 150px 0 30px;
    color: #ffffff;
    font-size: 50px;
    line-height: 1;
    width: 60%;
}

.header .bottom .paragraph {
    margin: 30px 0;
    color: #ffffff;
    font-size: 30px;
}

.header .bottom .btn {
    display: flex;

}

.header .bottom .btn a {
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    border: #ffffff 1px solid;
    padding: 10px 30px;
    margin-right: 30px;
    margin-bottom: 200px;
}

.header .bottom .btn a:hover {
    background-color: #919090;
}

/* main section withus */
.main .withus {
    background-color: #ffffff;
    margin-top: 80px;
}

.main .withus .desc {
    margin-top: 30px;
}

.main .withus .container .content {
    display: flex;
    width: 100%;
    margin-bottom: 50px;
}

.main .withus .container .content .left {
    width: 50%;
    padding-top: 30px;
    padding-right: 70px;
}

.main .withus .content .heading {
    margin-bottom: 30px;
}

.main .withus .container .content .left .heading_nobold {
    color: #000;
    font-size: 28px;
}

.main .withus .container .content .left .heading_bold {
    color: #000;
    font-size: 28px;
    font-weight: bold;
}

.main .withus .content .left .paragraph {
    margin-bottom: 30px;
    color: #000;
    font-size: 20px;
    line-height: 1;
}

.main .withus .container .content .right {
    flex: 1;
    width: 540px;
    height: 370px;
}

.main .withus .container .content .right .picture {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main .withus .box .item i {
    color: #177efc;
    font-size: 30px;
}

.main .withus .container .box {
    width: 100%;
    display: flex;
}

.box .item {
    flex: 1;
    text-align: center;
    margin-bottom: 150px;
}

.item .number {
    font-size: 50px;
    margin: 5px 0;
}

.item .number__span {
    font-size: 18px;
    color: #a4aab1;
}

.item .text {
    color: #a4aab1;
    font-size: 20px;
}

/* section popular */
.main .popular .container .top {
    text-align: center;
    margin-bottom: 50px;
}

.main .popular .top .heading {
    font-size: 40px;
    line-height: 1;
    color: #000;
    margin-bottom: 20px;
}

.main .popular .top .paragraph {
    font-size: 20px;
    color: #919090;
    line-height: 30px;
    width: 100%;
    padding: 0 200px;
}

.main .popular .bottom {
    display: flex;
    margin-right: -30px;
}

.main .popular .bottom .item {
    width: calc(100%/4 - 30px);
    margin-right: 30px;
    height: 480px;
    margin-bottom: 100px;
}

.main .popular .bottom .item img {
    width: 100%;
    height: 300px;
    display: block;
    object-fit: cover;
}

.main .popular .bottom .item .desc {
    padding: 20px 40px;
    height: 180px;
    background-color: #333333;
    text-align: center;
    border-bottom: #177efc 15px solid;
}

.main .popular .bottom .item .desc .title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.main .popular .bottom .item .desc .title a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}

.main .popular .bottom .item .desc .title span {
    color: #000;
    font-size: 10px;
    padding: 2px 10px;
    background-color: #fdc10b;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 10px;
}

.main .popular .bottom .item .desc .title span:hover {
    background-color: #f1d06c;
}

.main .popular .bottom .item .desc .booknow {
    text-decoration: none;
    padding: 5px;
    border: #ffffff 1px solid;
    color: #ffffff;
}

.main .popular .bottom .item .desc .booknow:hover {
    background-color: #b6b9bd;
}

.main .popular .bottom .item .desc p:hover {
    background-color: #30d7f5;
}

.main .popular .bottom .item .desc .btn {
    text-decoration: none;
    margin-top: 40px;
    padding: 1px;
    width: 40%;
    font-size: 15px;
    display: flex;
    margin-left: 50px;
    color: #ffffff;
    border-radius: 3px;
    background-color: #24a2b7;
}

.footer {
    background-color: #141414;
    color: #fff;
}

.footer .container .footer__top {
    display: flex;
    width: 100%;
    margin-right: -30px;
}

.footer .container .footer__top .item {
    width: calc(100%/4 - 30px);
    /* margin-left: 30px; */
    margin: 50px 30px 50px 0;
}

.footer .container .footer__top .item a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
    margin-bottom: 10px;
}

.footer .container .footer__top .item p {
    font-size: 15px;
    color: #a4aab1;
    line-height: 30px;
}

.footer .container .footer__top .item .desc {
    display: flex;
    flex: 1;
}

.footer .container .footer__top .item .desc p {
    margin-right: 50px;
}

.footer__fullcontainer {
    padding: 15px 0;
    text-align: center;
    background-color: #222222
}

@media (max-width:770px) {
    .header .top .menu {
        display: none;
    }

    .header .bottom .heading {
        width: 90%;
        font-size: 29px;
        line-height: 40px;
    }

    .header .bottom .paragraph {
        font-size: 23px;
    }

    .header .bottom .btn a {
        padding: 15px 30px;
        font-size: 15bpx;
        margin-right: 20px;
    }

    /* main withus */
    .main .withus .container .content {
        flex-direction: column;
    }

    .main .withus .container .content .left .heading span {
        width: 100%;
        font-size: 22px;
    }

    .main .withus .container .content .left {
        width: 100%;
        padding-right: 0;
    }

    .main .withus .content .left .paragraph {
        font-size: 16px;
        color: #797b7c;
    }

    .main .withus .container .content .right {
        width: 100%;
        height: 100%;
    }

    .main .withus .container .box {
        flex-wrap: wrap;
        margin-right: -30px;
    }

    .box .item {
        width: calc(100%/2 - 30px);
        margin-bottom: 50px;
        margin-right: 30px;
        box-sizing: border-box;
    }

    .main .popular .top .paragraph {
        padding: 0;
    }

    .main .popular .bottom {
        flex-wrap: wrap;
        margin-right: -10px;
    }

    .main .popular .bottom .item {
        width: calc(100%/2 - 10px);
        margin-right: 10px;
        margin-bottom: 20px;
    }

    .main .popular .bottom .item .desc .btn {
        display: inline-block;
        width: 70%;
        margin-left: 0;
    }

    .footer .container .footer__top {
        flex-wrap: wrap;
    }

    .footer .container .footer__top .item {
        width: 100%;
        margin: 20px 0;
        box-sizing: border-box;
    }
}

@media only screen and (min-width:770px) and (max-width:1070px) {
    .header .top .menu {
        display: none;
    }

    .main .popular .bottom .item .desc .btn {
        display: inline-block;
        width: 70%;
        margin-left: 0;
    }
}