.introduce {
    background: #0e1317;
    &__content {
        overflow: hidden;
        padding: 230px 0 166px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 45px;
        &-img {
            position: relative;
            padding-bottom: 100%;
            img {
                @include midimg(100%);
            }
        }
        &-textbox {
            .heading {
                @include text(72px, "ol", 90px, $white-cl);
                margin-bottom: 16px;
            }
            .box {
                margin-top: 40px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                .item {
                    .title {
                        @include text(40px, "ol", 60px, $white-cl);
                    }
                    .--line {
                        width: max-content;
                        cursor: pointer;
                        border-bottom: 1px solid $white-cl;
                    }
                    .--ffmr600 {
                        display: flex;
                        font-family: "ms";
                    }
                    .iconcontact {
                        margin-top: 30px;
                        a {
                            &:not(:last-child) {
                                margin-right: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
    &__img {
        padding-bottom: 50%;
        position: relative;
        img {
            cursor: pointer;
            @include midimg(100%);
        }
    }
    &__box {
        padding: 167px 0 247px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 16px;
        &-item {
            display: flex;
            .icon {
                @include size(70px);
                margin-right: 20px;
            }
            .content {
                .desc {
                    @include overtext(4);
                    font-size: 14px;
                }
            }
        }
    }
    @include md {
        &__content {
            padding: 150px 0 100px;
            height: 100%;
            &-textbox {
                .heading {
                    @include text(70px, "ol", 90px, $white-cl);
                    margin-bottom: 16px;
                }
                .--overtext {
                    @include overtext(5);
                }
                .box {
                    margin-top: 20px;
                }
            }
        }
        &__box {
            padding: 150px 0;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 16px;
            &-item {
                display: flex;
            }
        }
    }
    @include sm {
        &__content {
            padding: 100px 0 50px;
            &-textbox {
                .heading {
                    @include text(50px, "ol", 60px, $white-cl);
                    margin-bottom: 16px;
                }
                .--overtext {
                    @include overtext(4);
                }
                .box {
                    margin-top: 20px;
                    .item {
                        .title {
                            font-size: 20px;
                            line-height: 30px;
                            margin-bottom: 10px;
                        }
                        .--line {
                            font-size: 14px;
                        }
                        .--ffmr600 {
                            font-size: 13px;
                            .desc {
                                font-size: 12px;
                            }
                        }
                        .iconcontact {
                            margin-top: 20px;
                            a {
                                img {
                                    @include size(30px);
                                }
                                &:not(:last-child) {
                                    margin-right: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }
        &__box {
            padding: 100px 0;
            &-item {
                .icon {
                    @include size(60px);
                }
                .content {
                    .title {
                        margin-bottom: 10px;
                    }
                    .desc {
                        @include overtext(3);
                        font-size: 12px;
                    }
                }
            }
        }
    }
    @include xs {
        &__content {
            padding: 70px 0;
            grid-template-columns: 1fr;
            &-img {
                overflow: hidden;
            }
            &-textbox {
                .heading {
                    @include text(40px, "ol", 45px, $white-cl);
                    margin-bottom: 20px;
                }
            }
        }
        &__box {
            padding: 50px 0;
            grid-template-columns: 1fr;
            gap: 30px;
        }
    }
    @include xxs {
        &__content {
            &-textbox {
                .box {
                    grid-template-columns: 1fr;
                    gap: 30px;
                }
            }
        }
    }
}
