.contactus {
    background: #0e1317;
    &__content {
        padding: 195px 0 45px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 60px;
        &-textbox {
            .info {
                margin-top: 16px;
                &__item {
                    display: flex;
                    align-items: center;
                    img {
                        @include size(40px);
                    }
                    .title {
                        display: flex;
                        flex-direction: column;
                        margin-left: 22px;
                    }
                }
            }
            .iconcontact {
                margin-top: 16px;
                a {
                    &:not(:last-child) {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
    &__img {
        position: relative;
        padding-bottom: calc((468 / 1380) * 100%);
        overflow: hidden;
        cursor: pointer;
        iframe {
            @include midimg(100%);
        }
    }
    @include sm {
        &__content {
            padding: 100px 0 45px;
            gap: 40px;
            &-textbox {
                .info {
                    margin-top: 16px;
                    &__item {
                        display: flex;
                        align-items: center;
                        img {
                            @include size(40px);
                        }
                        .title {
                            display: flex;
                            flex-direction: column;
                            margin-left: 22px;
                        }
                    }
                }
                .iconcontact {
                    margin-top: 16px;
                    a {
                        &:not(:last-child) {
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }
    @include xs {
        &__content {
            padding: 50px 0;
            grid-template-columns: 1fr;
            gap: 30px;
        }
        &__img {
            padding-bottom: 300px;
        }
    }
}
