.services {
    padding: 110px 0 58px;
    background: #0e1317;
    &__sliderwrap {
        padding-top: 70px;
        overflow: hidden;
        &-item {
            @include size(690px, 450px);
            z-index: 5;
            position: relative;
            margin-right: 54px;
            .heading {
                @include mid;
                z-index: 10;
            }
            img {
                min-height: 100%;
                min-width: 100%;
                object-fit: cover;
                position: absolute;
                top: 50%;
                left: 50%;
                transition: $t;
                transform: translate(-50%, -50%) scale(1);
            }
            &:hover {
                img {
                    transition: $t;
                    transform: translate(-50%, -50%) scale(1.06);
                }
            }
        }
        .flickity-page-dots {
            position: initial;
            margin-top: 30px;
            .dot {
                width: 62px;
                border-radius: initial;
                margin: 0;
                background: $yellow-cl;
                height: 2px;
                &.is-selected {
                    height: 3px;
                }
            }
        }
    }
    @include sm {
        padding: 80px 0 38px;
        &__sliderwrap {
            padding-top: 40px;
            &-item {
                @include size(490px, 300px);
                margin-right: 34px;
            }
        }
    }
    @include xs {
        padding: 50px 0;
        &__sliderwrap {
            padding-top: 30px;
            &-item {
                width: 390px;
                margin-right: 34px;
            }
            .flickity-page-dots {
                .dot {
                    width: 40px;
                }
            }
        }
    }
}
.moment {
    background: #0e1317;
    &__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        &-textbox {
            padding-right: 124px;
            .boxs {
                margin-top: 48px;
                .item {
                    display: flex;
                    .desc {
                        padding: 40px 0 0 22px;
                        margin: initial;
                        @include overtext(3);
                    }
                }
            }
        }
        &-img {
            padding-bottom: 100%;
            position: relative;
            .beanabs {
                position: absolute;
                bottom: -48px;
                right: -103px;
                z-index: 20;
            }
            .textbox {
                text-align: center;
                @include mid;
                z-index: 10;
                .heading {
                    @include text(72px, "ci", 87px, $white-cl);
                    width: max-content;
                }
                .desc {
                    display: block;
                    padding-top: 16px;
                }
                .btnmain {
                    margin-top: 50px;
                    background: $yellow-cl;
                    color: $white-cl;
                    border: none;
                    &:hover {
                        background: $white-cl;
                        color: $black-cl;
                    }
                }
            }
            .imgcfmoment {
                @include midimg(100%);
            }
        }
    }
    &__box {
        padding: 168px 0 67px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        &-item {
            text-align: center;
            .number {
                @include text(60px, "ol", 80px, $yellow-cl);
            }
        }
    }
    @media (max-width: 1410px) {
        &__content {
            &-img {
                .beanabs {
                    @include size(250px);
                    right: -10px;
                }
            }
        }
    }
    @include md {
        &__content {
            &-textbox {
                padding-right: 70px;
            }
            &-img {
                .beanabs {
                    width: 200px;
                    height: 200px;
                    right: -30px;
                    bottom: 0;
                }
            }
        }
    }
    @include sm {
        &__content {
            &-textbox {
                padding-right: 50px;
                .boxs {
                    margin-top: 20px;
                    .item {
                        align-items: center;
                        img {
                            @include size(70px);
                        }
                        .desc {
                            padding: 20px 0 0 10px;
                        }
                    }
                }
            }
            &-img {
                .beanabs {
                    display: none;
                }
                .textbox {
                    .heading {
                        font-size: 50px;
                        line-height: 70px;
                    }
                    .btnmain {
                        margin-top: 30px;
                        padding: 15px 30px;
                    }
                }
            }
        }
        &__box {
            padding: 80px 0 60px;
        }
    }
    @include xs {
        &__content {
            grid-template-columns: 1fr;
            gap: 40px;
            &-textbox {
                padding-right: initial;
            }
            &-img {
                overflow: hidden;
                grid-row: 1/2;
                .textbox {
                    .heading {
                        font-size: 40px;
                        line-height: 60px;
                    }
                    .btnmain {
                        margin-top: 20px;
                        padding: 10px 25px;
                        font-size: 10px;
                    }
                }
            }
        }
        &__box {
            padding: 50px 0;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 30px;
            &-item {
                .number {
                    font-size: 50px;
                }
            }
        }
    }
}
.plan {
    background: #151b20;
    height: 700px;
    &__content {
        height: 100%;
        position: relative;
        .textbig {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            @include text(240px, "ol", 355.68px, #0e1317);
        }
        &-textbox {
            position: relative;
            z-index: 10;
            padding-top: 96px;
        }
        &-box {
            margin-top: 140px;
            @include size(100%);
            display: flex;
            align-items: center;
            gap: 20px;
            .item {
                padding: 40px 60px;
                border: 1px solid $yellow-cl;
                background: #0e1317;
                text-align: center;
                height: 100%;
                &.--black {
                    background: $black-cl;
                    position: relative;
                    .imglogo {
                        position: absolute;
                        top: -60px;
                        right: -25px;
                    }
                    .tryout {
                        position: absolute;
                        left: 0;
                        top: 0;
                        height: 100%;
                    }
                }
                .number {
                    @include text(60px, "ol", 89px, $yellow-cl);
                    display: block;
                }
                .pp {
                    color: $yellow-cl;
                }
                .textbox {
                    .square {
                        .rectangle {
                            width: 26px;
                        }
                        &::before,
                        &::after {
                            width: 100%;
                        }
                    }
                }
                .title {
                    margin-bottom: 16px;
                }
                .btnmain {
                    padding: 15px 70px;
                }
            }
        }
    }
    @include md {
        &__content {
            .textbig {
                font-size: 200px;
                top: -10px;
            }
            &-box {
                margin-top: 120px;
                .item {
                    padding: 40px;
                    .number {
                        @include text(50px, "ol", 89px, $yellow-cl);
                    }
                }
            }
        }
    }
    @include sm {
        height: 500px;
        &__content {
            .textbig {
                top: -60px;
                font-size: 150px;
            }
            &-textbox {
                padding-top: 70px;
            }
            &-box {
                margin-top: 70px;
                .item {
                    &.--black {
                        .imglogo {
                            @include size(70px);
                            top: -35px;
                        }
                        .tryout {
                            width: 12px;
                        }
                    }
                    padding: 20px;
                    .number {
                        @include text(40px, "ol", 60px, $yellow-cl);
                    }
                    .title {
                        margin-bottom: 15px;
                    }
                    .btnmain {
                        padding: 15px 0;
                        width: 100%;
                    }
                }
            }
        }
    }
    @include xs {
        height: auto;
        &__content {
            .textbig {
                font-size: 120px;
                top: -70px;
            }
            &-box {
                padding-bottom: 50px;
                flex-direction: column;
                gap: 30px;
                .item {
                    padding: 40px 60px;
                    &.--black {
                        .imglogo,
                        .tryout {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
.philosophy {
    background: #0e1317;
    padding: 394px 0 120px;
    &__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        &-img {
            position: relative;
            overflow: hidden;
            padding-bottom: 100%;
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                min-width: 100%;
                min-height: 100%;
                object-fit: cover;
                @include transform(translate(-50%, -50%) scale(1));
                @include transition($t);
            }
            &:hover {
                img {
                    @include transform(translate(-50%, -50%) scale(1.08));
                    @include transition($t);
                }
            }
        }
        &-textbox {
            .--yl {
                color: $white-cl;
            }
            .desc {
                margin: 50px 0 24px;
                @include overtext(5);
            }
        }
    }
    @include sm {
        padding: 260px 0 80px;
        &__content {
            gap: 20px;
            &-textbox {
                .desc {
                    margin: 30px 0 20px;
                    @include overtext(4);
                }
            }
        }
    }
    @include xs {
        padding: 50px 0;
        &__content {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            column-gap: 10px;
            row-gap: 40px;
            &-textbox {
                grid-column: 1/3;
                grid-row: 1/2;
                .--yl {
                    max-width: 485px;
                    display: inline-block;
                }
                .desc {
                    margin-top: 20px;
                }
                .chefimg {
                    @include size(300px, 70px);
                }
            }
        }
    }
}
