// css footer
.footer {
    background: $black-cl;
    height: 100%;
    .container {
        position: relative;
    }
    &__content {
        padding: 100px 0;
        &-item {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            .contact {
                .title {
                    margin-bottom: 24px;
                }
                .desc {
                    margin-bottom: 21px;
                    display: flex;
                    align-items: center;
                    img {
                        margin-right: 16px;
                    }
                }
            }
            .content {
                text-align: center;
                padding: 0 20px;
                .logo {
                    margin-bottom: 35px;
                }
                .desc {
                    @include text(24px, "ci", 40px, $white-cl);
                    margin-bottom: 32px;
                }
                .iconcontact {
                    .ic {
                        cursor: pointer;
                        &:not(:last-child) {
                            margin-right: 24px;
                        }
                    }
                }
            }
            .time {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                .title {
                    margin-bottom: 24px;
                }
                .desc {
                    margin-bottom: 16px;
                    color: $yellow-cl;
                    span {
                        color: $white-cl;
                    }
                }
            }
        }
    }
    &__backtotop {
        position: absolute;
        right: -100px;
        bottom: 0;
        cursor: pointer;
    }
    &__coppyright {
        height: 80px;
        background: #0e1317;
        @include mid(true);
    }
    @include lg {
        &__backtotop {
            right: 0;
        }
    }
    @include sm {
        &__content {
            padding: 100px 0;
            &-item {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);
                .contact {
                    .desc {
                        margin-bottom: initial;
                    }
                }
                .content {
                    grid-row: 2/3;
                    grid-column: 1/3;
                    .logo {
                        margin-bottom: 20px;
                    }
                    .desc {
                        @include text(24px, "ci", 40px, $white-cl);
                        max-width: 400px;
                        margin: 0 auto 30px;
                    }
                }
                .time {
                    .title {
                        margin-bottom: 30px;
                    }
                }
            }
        }
        &__backtotop {
            right: -20px;
        }
    }
    @include xs {
        &__content {
            padding: 50px 0;
            &-item {
                grid-template-columns: 1fr;
                gap: 30px;
                .contact {
                    display: inline-block;
                }
                .content {
                    text-align: initial;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 0;
                    grid-row: initial;
                    grid-column: initial;
                    .desc {
                        line-height: 25px;
                        font-size: 20px;
                        margin: initial;
                        margin-bottom: 20px;
                    }
                    .iconcontact {
                        .ic {
                            &:not(:last-child) {
                                margin-right: 10px;
                            }
                        }
                    }
                }
                .time {
                    grid-row: 2/3;
                    align-items: flex-start;
                }
            }
        }
        &__backtotop {
            right: 5px;
            img {
                @include size(40px);
            }
        }
        &__coppyright {
            height: 60px;
            span {
                font-size: 10px;
            }
        }
    }
}
