// css header
.header {
    &.bgr {
        background: #0e1317;
        transition: $t;
        height: 70px;
    }
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 100;
    &.active {
        background: #0e1317;
    }
    .container-fluid {
        display: flex;
        justify-content: space-between;
    }
    &__logo {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 200;
    }
    &__menu {
        ul {
            display: flex;
            @include mid;
            a {
                padding: 20px;
                width: max-content;
                display: block;
                &:hover {
                    color: $yellow-cl;
                    transition: $t;
                }
            }
        }
    }
    &__right {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        display: flex;
        align-items: center;
        z-index: 200;
        &-lang {
            margin-right: 40px;
            .current {
                @include text(14px, "or", 20px, $white-cl);
                cursor: pointer;
            }
            .select {
                position: absolute;
                left: -60px;
                bottom: -130px;
                background: $yellow-cl;
                padding: 20px 30px;
                opacity: 0;
                visibility: hidden;
                li {
                    @include text(14px, "or", 20px, $white-cl);
                    cursor: pointer;
                }
                li:not(:last-child) {
                    margin-bottom: 10px;
                }
                &.active {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        &-checkin {
            padding: 16px 32px;
            margin-right: 32px;
            background: $yellow-cl;
            &:hover {
                opacity: 0.8;
                transition: $t;
            }
        }
    }
    &__load {
        position: absolute;
        height: 2px;
        width: 0;
        background: $yellow-cl;
        bottom: 0;
        left: 0;
    }
    @include md {
        &__menu {
            ul {
                a {
                    padding: 20px 8px;
                }
            }
        }
    }
    @include sm {
        &__menu {
            display: none;
        }
    }
    @include xs {
        height: 70px;
        &__logo {
            img {
                width: 150px;
            }
        }
        &__right {
            &-lang {
                margin-right: 10px;
            }
            &-checkin {
                display: none;
            }
        }
    }
}
